@model IEnumerable<PRN211_Grocery_store.Data.Entity.Product>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Category
            </th>
            <th>
                Status
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.Category.Name
            </td>
            <td>
                    @if (!item.IsDelete)
                    {
                        <p class="text-success">Enable</p>
                    }
                    else
                    {
                        <p class="text-danger">Disable</p>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    @if (item.IsDelete)
                    {
                        <a asp-action="Enable" asp-route-id="@item.Id">Enable</a>
                    }
                    else {
                        <a asp-action="Disable" asp-route-id="@item.Id">Disable</a>
                    }
            </td>
        </tr>
    }
    </tbody>
</table>
