@{
    ViewData["Title"] = "Home Page";
    var product = ViewBag.products as List<PRN211_Grocery_store.Data.Entity.Product>;
}

<div class="d-flex justify-content-center mb-5">
   <form asp-action="Search" class="col-12 row" method="POST">
        <div class="offset-1 col-8">
            <input id="searchValue" name="searchValue" type="text" class="form-control" value="@ViewData["searchValue"]"/>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div class="text-center row">
    @if (product.Count > 0)
    {
        foreach(var p in product){
        <div class="card col-3">
            <img class="card-img-top" src="@p.ImageURL" alt="@p.Id"/>
            <div class="card-body">
                <p>@p.Name</p>
                <p>@p.Price</p>
                @if (p.Quantity > 0)
                {
                    using(Html.BeginForm("AddToCart", "Home", new {@productId = p.Id}, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-outline-primary">Add to Cart</button>
                    }
                }
                else
                {
                    <button class="btn btn-outline-danger" disabled>Out of stock</button>
                }
            </div>
            </div>
        }
    }
    else
    {
        <p class="text-secondary h4">There is no item contain @ViewData["searchValue"]</p>
    }

</div>
